@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btnPrimary {
    @apply h-9 border transition-all text-base dark:border-darkPrimary border-primary dark:shadow-custom-light shadow-custom-dark
      px-4 bg-primary dark:bg-darkPrimary
       text-white dark:text-darkWhite
       rounded-global flex items-center justify-center
        hover:bg-primaryHover dark:hover:bg-darkprimaryHover dark:hover:border-darkprimaryHover;
  }
  .btnSecondary {
    @apply h-9 border transition-all text-base border-primary/90 dark:border-darkPrimary/90 dark:text-white
     dark:hover:text-black text-black hover:text-white
     bg-white dark:bg-darkWhite shadow-custom-dark 
     dark:shadow-custom-light px-4
      hover:bg-primary dark:hover:bg-darkPrimary
      rounded-global;
  }
}

body {
  font-family: "DM Sans", sans-serif;
}
